BEAMLINE=<832>
GLOBUS_CLIENT_ID=<globus_client_id>
GLOBUS_CLIENT_SECRET=<globus_client_secret>
PREFECT_API_URL=<url_of_prefect_server>
PREFECT_API_KEY=<prefect_client_secret>
PUSHGATEWAY_URL=<url_of_pushgateway_server>
JOB_NAME=<jobname_for_pushgateway>
INSTANCE_LABEL=<label_for_pushgateway>
TILED_URI=<url_of_tiled_server>
PATH_NERSC_CLIENT_ID=<path_to_nersc_client_id>
PATH_NERSC_PRI_KEY=<path_to_nersc_priv_key>
NERSC_USERNAME=<nersc_username>
AMSC_API_KEY=<amsc_api_key> # found here: https://profile.american-science-cloud.org/
